//
// Color system
//

$primary: #151719 !default;
$secondary: #6c757d !default;

$body-bg: #ffffff !default;
$body-color: #212529 !default;

$black:#000000 !default;
$white:#ffffff !default;

$theme-colors: () !default;
$theme-colors: map-merge((
  "black": $black,
  "white": $white,
  "body-bg":    $body-bg,
  "body-color":  $body-color
), $theme-colors); 