@import "C:/xampp/htdocs/_www/_BC_builder_v4/_source/bootstrap/sass/functions";
@import "C:/xampp/htdocs/_www/_BC_builder_v4/_source/bootstrap/sass/variables";
@import "C:/xampp/htdocs/_www/_BC_builder_v4/_source/bootstrap/sass/mixins";


//@import "C:/xampp/htdocs/_www/_BC_builder_v4/_source/bootstrap/sass/root";
//@import "C:/xampp/htdocs/_www/_BC_builder_v4/_source/bootstrap/sass/reboot";
//@import "C:/xampp/htdocs/_www/_BC_builder_v4/_source/bootstrap/sass/grid";

//@import "C:/xampp/htdocs/_www/_BC_builder_v4/_source/bootstrap/sass/utilities";

$primary-dark: #331d03;
$secondary: #8A9B0F ; 
/*
$primary: #e97f02; 
$primary-dark: #331d03;
$secondary: #8A9B0F ; 
$gray-100: #dcdcdc;
$gray-200: #eee;
$gray-300: #ddd;
$gray-700: #777;

$success:#28a745;
$danger:#dc3545; 
*/

.wp-admin{
	.text-success{
		color:$success!important;
	}
	.text-danger{
		color:$danger!important;
	}
	.bg-light{
	  background-color: #f5f5f5!important;
	  color: #555!important;
	}
}


.wpbc-d-none{
	display: none!important;
}
.wpbc-d-block{
	display: block!important;
}
.acf-fc-popup{
	position: fixed;
	top: 20%!important;
	left: 20%!important;
	right: 20%!important;
	bottom: 20%!important;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
    justify-content: center;
	min-height: 200px;
}
.acf-tooltip {
	&.acf-fc-popup { 
		&.bottom{

		}
	}
	ul{ 
		display: flex!important;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow-y: auto;
    li{
    	a{
    		padding:10px!important;
    	}
    }
		/*
		column-count: 3;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
		*/
		/*
    display: flex!important;
    max-width: 300px;	
    flex-wrap: wrap;
    justify-content: center;
		li{
			flex: 25%;
			text-align: center;
			width: 25%;
		}
		*/
	}
}

#acf-group_builder__layout{
	.acf-tab-button{ 
		svg{
			width: 24px;
			height: 24px;
			vertical-align: -7px; 
		}
	}
	&.seamless{
		background: #fff!important;
		border: 1px solid #ccd0d4!important;
    box-shadow: 0 1px 1px rgba(0,0,0,.04)!important;
    background: #fff!important;
		>.inside{
			margin: 0!important;
		}
		>.acf-fields{
			>.acf-tab-wrap{
				padding: 0!important; 
			}
		}

		>.hndle{
			font-size: 1.3em!important;
    	padding: 9px 12px!important;
    	display: block !important; 
		}
		>.handlediv {
		  display: block !important;
		  height: 39px;
		}
		.ui-sortable-handle{
			cursor: default!important;
	    pointer-events: none;
		}
		&.closed{

			>.inside{
				display: none !important;
			}

		}

	}
} 

.acf-button.button{
	&.button-primary{
		background:$primary;
		border-color: $primary; 
	}
}
 
.wpbc-true_false-ui{

	.acf-switch .acf-switch-on {
		color: #fff; 
		line-height: 28px;
		font-size: 10px;
		text-shadow: none!important;
		opacity:0;
	}
	.acf-switch .acf-switch-off {
		line-height: 28px;
		font-size: 10px;
		text-shadow: none!important;
		color:$gray-700;
	}

	.acf-switch {

		height:28px;
		width:50px;
		overflow:hidden;
		font-size:10px;
		border-radius: 5px;
		border-color: $gray-100;
		background:$gray-100;

		span{
			padding:0 2px;
			width: 20px!important;
			min-width:inherit!important;
		}

		.acf-switch-slider{

			position: absolute;
			top: 6px;
			left: 7px; 
			content: "";
			width: 14px;
			height: 14px;
			margin: 0;
			background: #999;
			border:0;
			border-radius: 7px;
			z-index: 1;
			text-shadow:none;

		}

		&.-on{
			background:$primary;
			border-color: $primary; 
			.acf-switch-slider{
				left: inherit;
				right: 7px;
				background: lighten($primary,20%);
	  			border-color: lighten($primary,20%);
			}
			.acf-switch-off{
				opacity:0;
			}
			.acf-switch-on{
				opacity:1;
				color:#fff;
				//background:lighten($secondary,20%); 
			}
		}

		&.disabled{
			cursor: default!important;
			pointer-events:none;
			opacity:.8;
		}

	}


	&.w-auto{
		.acf-switch, .acf-switch-on, .acf-switch-off{
			width: auto!important;
		}
	}
	&.w-100{
		.acf-switch, .acf-switch-on, .acf-switch-off{
			width: 100%!important;
		}
	}

}

.acf-field.wpbc-picker-absolute{
	 .wp-picker-active{
	 	position:absolute;
	 }
	 .wp-picker-container {
	 	.iris-picker{
	 		height: 110px!important;
	 		.iris-square{
	 			height: 85px!important;
	 		}
	 		.iris-slider{
	 			height: 114px!important;
	 		}
	 	}
	 }
}

.acf-field{

	&.wpbc-ui-mini{

		padding: 9px!important;

		.acf-label {
			margin: 0;
			label{
				margin: 0;
				font-size: 85%;
			}
		}

		.acf-input-wrap{
			input[type="text"],
			input[type="number"]{
			    border: 0;
			    padding: 3px 0;
			    border-bottom: 1px solid #777;
			    border-radius: 0;
			    line-height: 20px;
			    height: 18px;
			    min-height: 18px;
			    font-size: 14px;
			}
		}

		.acf-switch{
			height: 14px;
			width: 40px;
			.acf-switch-on,
			.acf-switch-off{
				line-height: 14px;
			}
			.acf-switch-slider{
				top: 3px;
				width: 8px;
				height: 8px;
			}
			span{
				padding:0 2px;
				width: 15px!important;
				min-width:inherit!important;
			}
		}

		.acf-color-picker{
			.wp-picker-container .wp-color-result.button{
				margin:6px 0 0 0;
				min-height: 21px;
				.wp-color-result-text{
					line-height: 19px;
				}
			}
		} 

		&.acf-field-select{
			select{
				padding: 0px 5px;
				font-size: 12px;
				line-height: 19px;
				min-height: 22px;
				vertical-align: top;
			}
		}
		

		.acf-tab-group li a{
			padding: 2px 5px 3px 5px;
	    line-height: 14px;
	    font-size: 10px;
		}

		&.wpbc-radio-as-btn{
			li{
				label{
					font-size: 12px !important;
					line-height: 11px;
					height: 14px;
					min-height: 14px;
				}
			}
		}

		&.ui-xmini{
			&.wpbc-radio-as-btn li label{
				padding: 0 3px!important;
				font-size: 10px!important;
			}
		}

	}

}

.wpbc-radio-as-position{
	.acf-radio-list{
		width: 40px;
		li{
			line-height: 8px;
			width: 12px;
			height: 12px;
		}
		label{
			border:0;
			padding: 0!important;
    	margin: 0!important;	
		}
	}
	.radio-icon{
		display: inline-block;
		width: 8px;
		height: 8px;
		border:1px solid #8c8f94;
		border-radius:100%;
	}

	.selected{
		border:0;
		.radio-icon{
			border-color:#007bff;
			background-color:#007bff;
		}
	}
}


label.disabled{
	cursor: default!important;
	&:hover{
		cursor: default!important;
	}
}
@each $color, $value in $theme-colors {
	//  --#{$color}: #{$value};

	.wpbc-true_false-ui.ui-#{$color}{
		.acf-switch.-on{

			background:$value;
			border-color:$value; 
			.acf-switch-slider{

				background: lighten($value,20%);
				border-color: lighten($value,20%);

			}
		}
	}

	.wpbc-text-#{$color}{
		color:$value!important; 
	}
	.wpbc-button-#{$color}{
		background:$value!important; 
		border-color:$value!important;  
	}

}

 
.acf-flexible-content .layout .acf-fc-layout-handle{
	background: #191e23;
	color: #fff!important;
}
.acf-flexible-content .layout.-collapsed .acf-fc-layout-handle{
	background: #fff;
	color: #333333!important;
}

.acf-flexible-content {

	.acf-actions{

		[data-name="add-layout"]{
			 
			.dashicons {
				position: relative;
				top: 9px;
				left: -3px;
			}
		}

	}

}

#wpfooter{
		display:none!important;
}

#adminmenu .toplevel_page_bootclean-theme-options .wp-menu-image img{
	
	width: 18px;
	height: auto;
	top: -2px;
	position: relative;
	
}
#adminmenu .toplevel_page_bootclean-theme-options.current .wp-menu-image img{

	opacity:1!important;

}	
#adminmenu .toplevel_page_bootclean-theme-options .wp-submenu{
	background-color:#331d03!important;
}
.wpbc-menu-image{
	float: left;
	width: 27px;
	margin: 0 0px 0 -6px;
	text-align: center; 
}
	.wpbc-menu-image svg{
		width: 19px;
		height: auto;
		fill:#fff;
		opacity:.6;
	}
.current .wpbc-menu-image svg{
	opacity:1!important;
}

a:hover .wpbc-menu-image svg{
	fill:#e97f02;
}

a > .wp-menu-name .hide-top{
	display:none!important;
}
.wp-submenu .show-top{
	display:none!important;
} 



.wpbc_taxonomy_checkbox_horizontal{

	.acf-checkbox-list{
		> li{
			display:inline-block; 
			margin-right:5px;
			margin-bottom:5px;
		}
	}

} 


.acf-menu-item-fields{
	float:none!important; 
	clear: both;
	display: block;
	padding: 0 .5rem;
	border: 1px solid #eee;	
}

.acf-input-title{ 
	.acf-input textarea,
	input[type="text"]{
		font-size: 1.6rem!important; 
		border-width: 4px!important; 
	} 
	&.sm{
		.acf-input textarea,
		input[type="text"]{
			font-size: 1.2rem!important; 
			border-width: 2px!important; 
		} 
	}
}
.acf-big-gallery .acf-gallery {
  height: 400px !important;
} 
.acf-bigger-gallery .acf-gallery {
  height: 800px !important;
} 
.acf-small-gallery{
	.acf-gallery{
		height: 200px!important; 
	}
	.acf-label{
		label{
			margin-bottom: 5px!important; 
		}
	}
	.acf-gallery-toolbar{
		ul.acf-hl{
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;
			li{
				float: none;
			}
		}
		.acf-button{
			font-size: 11px;
			line-height: 19px;
			min-height: 22px;
			margin: 0;
			padding: 0 5px;
		}
		.acf-gallery-sort{
			padding: 0px 5px;
			font-size: 12px;
			line-height: 19px;
			min-height: 22px;
			vertical-align: top;
		}
	}
}

.acf-small-wysiwyg{ 
	.wp-editor-area {
	   height: 200px !important;
	}
	.acf-editor-wrap iframe{
		height: 200px !important;	
	}
}

.acf-xsmall-wysiwyg{ 
	.wp-editor-area {
		min-height: 80px !important;
	  height: 200px !important;
	}
	.acf-editor-wrap iframe{
		height: 200px !important;	
	}
}


.acf-group-seamless{
	padding: 0;
  border: 0;
	.acf-fields.-border{
		border: 0;
		.acf-field{
			border-top: 0;
		}
	}
} 

.wpbc-group-no-border,
.acf-group-call-to-action{ 
	.acf-fields.-border{
		border: 0!important;
	} 
}
.wpbc-field-no-label{
	> .acf-label{
		display: none;
	}
}

 
.acf-field{ 

	&.wpbc-field-half-padding{
		padding: 7px 6px!important;
	}
	&.wpbc-field-no-padding{
		padding:0!important;
	}
	&.wpbc-field-no-padding-bottom{
		padding-bottom:0!important;
	}
	&.wpbc-field-no-padding-top{
		padding-top:0!important;
	}
	&.wpbc-field-no-padding-left{
		padding-left:0!important;
	}
	&.wpbc-field-no-padding-right{
		padding-right:0!important;
	}

	&.wpbc-field-no-border{
		border:0!important;
	}
	&.wpbc-field-no-border-bottom{
		border-bottom:0!important;
	}
	&.wpbc-field-no-border-top{
		border-top:0!important;
	}
	&.wpbc-field-no-border-left{
		border-left:0!important;
	}
	&.wpbc-field-no-border-right{
		border-right:0!important;
	}

	&.wpbc-field-no-border-fields{
		.acf-fields{
			border:0!important;
			> .acf-field{
				border:0!important;
			}
		}
	}
} 



/*
	Replicate on front-end
	shortcode available like:
	
	[m-icon-svg icon="md-flag"]

*/
.m-icon-svg{
	background-size:24px 24px;
	background-repeat:no-repeat;
	background-position:center center;
	width: 24px;
	height: 24px;
	display: inline-block;
}

.acf-tab-button{
	svg{
		vertical-align: -6px;
	}
	.m-icon-svg{
		vertical-align: -6px;
		margin-right: 5px;
	}
} 

.acf-label{
	label{
		svg{
			vertical-align: -6px;
		}
	}
}

.wpbc-group_title{
	border-bottom: 1px solid #ddd;
	.acf-label{
		label{
			svg{
				width: 45px;
		    vertical-align: -10px;
		    height: auto;
			}
			.icon{
				vertical-align: -10px;
				width: 32px;
			}
		}
	} 
	.acf-input{
		p{
			font-size:16px;
		}
	}
}

.acf-label{
	.description{
		svg{
			vertical-align: -5px;
		}
	}
}

#wpbc_dashboard_welcome_widget {
	.postbox-header{
		h2{
			display: inline-block;
		}
	}
}

.wpbc-dashboard-title{
	font-size: 18px!important;
	line-height: 1.2em!important;
	font-weight: 400!important;
	display: block;
}
.wpbc-dashboard-list{

	li{
		color:#444;
		border-top: 1px solid #ececec; 
    padding: 9px 12px 9px 0;
    margin: 0;
	}
}


.wpbc-btn-small{
	border-color: $primary!important;
	background-color: $primary!important;
	color:#fff!important;
	padding:2px 4px 2px 5px !important;
	font-size: 10px!important;
	line-height: 12px!important;
	text-transform: uppercase;
	letter-spacing: 1px;
	min-height: auto!important;
	small{
		
	}
	&.alt{
		    font-size: 13px!important;
	}
}

.acf-field.wpbc-hidden-field{
	display: none!important;
}
.wpbc-hidden-input{
	.acf-input{
		display: none!important;
	}
}

.acf-fields > {

	.acf-tab-wrap {
		.acf-tab-group {
			li {
				a{
					svg{
						width: 20px;
					}
				}
				&.active{
					a{

					}
				}
			}
		}
	}

}

.wpbc-tab-small{
	.acf-fields>.acf-tab-wrap{
		background-color:transparent;
	}
	.acf-tab-group {
		li {
			margin:0 -1px 0 0;
			a{ 
				padding: 5px 5px !important;
				font-size: 10px;
				line-height: 10px;
			}
			&:active{
				a{

				}
			}
		}
	}

}


.wpbc-subtitle{
	border-bottom:0;
	padding-bottom: 8px!important;
	.acf-label{
		margin-bottom:0;
		label{ 
			h4{
				font-size: 1.2rem;
				margin: 0!important;
				svg{
					width: 24px;
				}
			}
		}
	}
}



.wpbc-template-section-group{
	padding: 0!important;
	border: 0!important;
	margin: 0 -1px!important;
	> .acf-label{
			display: none!important;
			background: $primary;
			color:#fff;
			padding: 6px 8px 4px 8px;
			margin: 0 0 0 13px!important;
	}

}


.acf-inverted-gallery{
	.acf-gallery-attachments{
		background-color:#000!important;
		.margin{
			background:transparent!important;
		}
	}
}



.wpbc-radio-as-btn{  
	
	li{

		margin: 0!important;

		[type="checkbox"],
		[type="radio"]{
			position: absolute;
	    left: -100vw;	
		}	

		label{
			display: inline-block!important;
			background-color: $gray-500;
			border-color: $gray-500;
			color:#fff;   
			font-size: 13px!important;
	    line-height: 2.15384615;
	    min-height: 30px;
	    margin: 0!important;
	    padding: 0 10px!important;
	    cursor: pointer;
	    border-width: 1px;
	    border-style: solid;
	    -webkit-appearance: none;
	    border-radius: 0;
	    white-space: nowrap;
	    box-sizing: border-box;
	    &:hover{
	    	background-color: $gray-900;
	    }
			&.selected{
				background-color: $primary;
				border-color: $primary;
			}

		} 


		&:first-child{
			label{
				border-radius: 3px 0 0 3px;
			}
		}
		&:last-child{
			label{
				border-radius: 0 3px 3px 0;
			}
		}

	}

	&.show-radio{
		li{
			[type="checkbox"],
			[type="radio"]{
				position: relative;
		    left: 0!important;
		    margin: -3px 7px 0px -5px;	
			}	
		}
	}

	&.as-btn-secondary{
		li{
			label{ 
				&.selected{
					background-color: $dark;
					border-color: $dark;
				}
			}
		}
	}
	&.as-btn-primary{
		li{
			label{ 
				&.selected{
					background-color: $primary;
					border-color: $primary;
				}
			}
		}
	}
	&.as-btn-danger{
		li{
			label{ 
				&.selected{
					background-color: $danger;
					border-color: $danger;
				}
			}
		}
	}
	&.as-btn-lg{
		li label{
			font-size: 15px!important;
			line-height: 2.153846;
			min-height: 34px;
			padding: 0 13px !important;
			text-transform: uppercase;
		}
	}
	&.as-btn-sm{
		li label{
			font-size: 10px!important;
			line-height: 2.153846;
			min-height: 20px;
			padding: 0 5px !important;
			text-transform: uppercase;

			svg{
				width: 14px;
				height: 14px;
			}
		}
	}

	&.no-padding-radio-label{
		li{
			label{ 
				.mce-ico{
					font-size: 16px;
					text-indent: 2px;
				}
				padding: 2px !important;
		    min-height: auto;
		    line-height: 1;
		    background-color: transparent!important;
				border-color: transparent!important;
				&.selected{
					background-color: #f0f0f1!important;
					border-color: #50575e!important;
				}
			}
		}
	}
	
}

.wpbc-tabsless-group{ 
	.acf-tab-wrap{
		background:transparent!important;
	}
	.acf-tab-group{
		border-top:0!important;
		background:transparent!important;
		padding:0;
		li{
			margin: 0;
			a{
				border: 0!important;
			}
		}
	} 
}

.wpbc-tab{
	position:relative;
}
.wpbc-tab-badge{
	padding: 0;
	width: 16px;
	height: 16px; 
	position: absolute;
	top: -5px;
	left: -7px;
	text-align: center;
	border-radius:8px;
	.dashicons {
		font-size: 13px;
		line-height: 16px;
		width: 14px;
		height: 16px;
		display: block;
	}
}

.acf-tooltip [data-layout] .icon-badge{
	width: 16px;
	display: inline-block;
	vertical-align: -3px;
	>span{
		width: 16px;
		height: 16px;
		display: inline-block;
	}
	svg{
		width: 100%;
		height: auto;
	}
}
.acf-flexible-content .layout .acf-fc-layout-handle .wpbc-badge{
	&.bg-transparent{
		background-color:#fff!important;
		background-image: linear-gradient(45deg, #b0b0b0 25%, transparent 25%), linear-gradient(-45deg, #b0b0b0 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #b0b0b0 75%), linear-gradient(-45deg, transparent 75%, #b0b0b0 75%);
	  background-size: 12px 12px;
	  background-position: 0 0, 0 6px, 6px -6px, -6px 0px;
	}
}
.acf-flexible-content .layout .acf-fc-layout-handle .icon-badge{
	width: 15px;
  display: inline-block;
  vertical-align: -1px;
  svg{
		width: 100%;
		height: auto;
	}
	>span{
		width: 16px;
		height: 16px;
		display: inline-block;
	}
}


.select_choices-badge{
	width: 30px;
	height: 15px;
	display: inline-block;
	vertical-align: -2px;
	border-radius: 2px;
}
.select2 .select_choices-badge{}
.select2-container {
	.select2-selection--single{
		    height: 30px!important;
	}
}

// field "class"
.wpbc-acf-repeater-index-top{

	.acf-row{
		.acf-row-handle.order{
			vertical-align: top!important;
			padding-top: 17px;
			font-size: 18px;
			font-weight: bold;
			text-shadow: none;
			color: #000;
		}
	}
	

}

.wpbc-acf-highlighted-field{
	background-color:rgba($primary,.2);
	&.wpbc-tabsless-group {
		.acf-tab-group{
			background-color:rgba($primary,.2)!important;
		}
	}

	&.secondary{
		background-color:rgba($secondary,.2);
		&.wpbc-tabsless-group {
			.acf-tab-group{
				background-color:rgba($secondary,.2)!important;
			}
		}
	}
	&.danger{
		background-color:rgba($danger,.2);
		&.wpbc-tabsless-group {
			.acf-tab-group{
				background-color:rgba($danger,.2)!important;
			}
		}
	}
	&.dark{
		background-color:rgba($dark,1);
		color:#fff;
		&.wpbc-tabsless-group {
			color:#fff;
			.acf-tab-group{
				color:#fff;
				background-color:rgba($dark,1)!important;
			}
		}
	}
	&.info-light{
		background-color:rgba($info,.2);
		&.wpbc-tabsless-group {
			.acf-tab-group{
				background-color:rgba($info,.2)!important;
			}
		}
	}
	&.info{
		background-color:rgba($info,1);
		&.wpbc-tabsless-group {
			.acf-tab-group{
				background-color:rgba($info,1)!important;
			}
		}
	}
}

.wpbc-acf-flex-field{
	display: flex; 
	flex-wrap: wrap;
	.acf-label{
		margin: 0!important;
		padding: 4px 9px!important;
	}
	.acf-input{
		flex:1;
	}
	&.right-label{
		.acf-label{
			order: 2; 
		}
	}
}

.wpbc-group-flex{

	> .acf-input > .acf-fields{
		display: flex; 
	}
	
}

.wpbc-picker-no-label{
	.wp-color-result-text{
		display: none;
	}
	button.wp-color-result{
		padding: 0 0 0 20px!important;
		margin: 8px 0 0 0!important;
		min-height: 17px!important;
	}
}


.wpbc-field-padding-less{
	.acf-table>tbody>tr>th, .acf-table>tbody>tr>td, .acf-table>thead>tr>th, .acf-table>thead>tr>td{
		padding:1px 2px!important;
	}
}



/*

	wpbc_site_settings

*/

body.wpbc_site_settings {
	.acf-postbox.seamless{
		padding:0!important;
		>.inside{
			margin-right:0!important;

			> .acf-tab-wrap{
				.acf-tab-group{
					border:0!important;
					padding-bottom: 1px!important;
					li{
						a{
							border:0!important;
							background-color:#ffffff;
							padding:16px;
						}
						&.active{
							a{
								
							}
						}
					}
				}
			}
		}

		

		>.acf-fields{
			>.acf-field{
				padding:15px;
			}
			>.acf-tab-wrap{
				margin: 0!important;
			}
		}
	}
}



/*

	wpbc-section-title

*/

.acf-field-group.wpbc-section-title-settings{
	border:0!important;

	> .acf-input > .acf-fields{
		background-color:#f6f7f7;
		padding: 3px;
		border: 1px solid #ccd0d4;
	}
}

.wpbc-section-title-settings{
	margin-top:5px!important;
	.acf-tab-wrap{
		margin-bottom:10px;
	}
	.acf-fields > .acf-field{

		padding: 0 5px 0 0!important;
		width: auto!important;
		min-height: 27px;

		.wpbc-true_false-ui{
			padding:0!important; 
		}

		.acf-input{
			[type="button"]{
				min-height: 26px;
				padding: 0 3px;
				line-height: 1;
			}
			[type="text"]{
				min-height: 26px;
				padding: 0 3px;
				font-size: 12px;
				line-height: 1;
				text-align: center;
			}
			select{
				min-height: 26px;
				min-width: 110px;
		    padding: 3px;
		    font-size: 12px;
			}
			.wp-color-result{
	    	margin: 3px 0!important;
		    min-height: 21px!important;
		    min-width: 24px;
	    }
	    .wp-picker-input-wrap{
	    	margin-left: 5px;
	    }
		}
		&.wpbc-section-heading-use{ 
			padding: 0px 3px 6px 0!important;
		}
		&.wpbc-section-heading{ 
		}
		&.wpbc-section-align{  
		}
		&.wpbc-section-color{  
		}
	}
}
.wpbc-section-title{
	margin-top:0!important;
	textarea{
		//border:2px solid $success;
		color: #333;
		border-radius:0;
		border:1px solid #ccd0d4;
		background-color: #dbdde0;
		margin-bottom: 0!important;
	}
}


.acf-repeater{
	> .acf-table{
		.acf-row{
			> td {
				border-top:2px solid var(--primary)!important;
				border-bottom:2px solid var(--primary)!important;
			}
		}
	}
}






.wpbc-root_color_choice{

	width: 20px;
	height: 20px;
	display: block;
	border:1px solid rgba(1,1,1,.2); 
	position:relative;

	.wpbc-root_color_choice-bg{
		display: block;
		width: 20px;
		height: 20px;
		position:relative;
		z-index: 10;
	}

	.wpbc-root_color_choice-label{
		display: none;
	}

	.wpbc-root_color_choice-x{
		position:absolute;
		z-index: 20;
		top: 0;
		left: 0;
		bottom:0;
		right: 0;
		vertical-align: middle;
		text-align: center;
		font-size:10px;
		line-height: 20px;
		color:#999;
	}

}




.acf-repeater{
	.acf-row-handle.order{
		> span{
			width: 18px;
	    height: 18px;
	    display: inline-block;
	    background: #000;
	    line-height: 16px;
	    border-radius: 100%;
	    font-size: 10px;
	    font-weight: 700;
		}
	}
}