/*
$primary: #e97f02; 
$primary-dark: #331d03;
$secondary: #8A9B0F ; 
$gray-100: #dcdcdc;
$gray-200: #eee;
$gray-300: #ddd;
$gray-700: #777;

$success:#28a745;
$danger:#dc3545; 
*/
.text-success {
  color: #28a745 !important; }

.text-danger {
  color: #dc3545 !important; }

.bg-light {
  background-color: #f5f5f5 !important;
  color: #555 !important; }

.acf-tooltip ul {
  column-count: 2; }

#acf-group_builder__layout.seamless {
  background: #fff !important;
  border: 1px solid #ccd0d4 !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04) !important;
  background: #fff !important; }
  #acf-group_builder__layout.seamless > .inside {
    margin: 0 !important; }
  #acf-group_builder__layout.seamless > .acf-fields > .acf-tab-wrap {
    padding: 0 !important; }
  #acf-group_builder__layout.seamless > .hndle {
    font-size: 1.3em !important;
    padding: 9px 12px !important;
    display: block !important; }
  #acf-group_builder__layout.seamless > .handlediv {
    display: block !important;
    height: 39px; }
  #acf-group_builder__layout.seamless .ui-sortable-handle {
    cursor: default !important;
    pointer-events: none; }
  #acf-group_builder__layout.seamless.closed > .inside {
    display: none !important; }

.acf-button.button.button-primary {
  background: #007bff;
  border-color: #007bff; }

.wpbc-true_false-ui .acf-switch .acf-switch-on {
  color: #fff;
  line-height: 28px;
  font-size: 10px;
  text-shadow: none !important;
  opacity: 0; }
.wpbc-true_false-ui .acf-switch .acf-switch-off {
  line-height: 28px;
  font-size: 10px;
  text-shadow: none !important;
  color: #495057; }
.wpbc-true_false-ui .acf-switch {
  height: 28px;
  width: 50px;
  overflow: hidden;
  font-size: 10px;
  border-radius: 5px;
  border-color: #f8f9fa;
  background: #f8f9fa; }
  .wpbc-true_false-ui .acf-switch span {
    padding: 0 2px;
    width: 15px !important;
    min-width: inherit !important; }
  .wpbc-true_false-ui .acf-switch .acf-switch-slider {
    position: absolute;
    top: 6px;
    left: 7px;
    content: "";
    width: 14px;
    height: 14px;
    margin: 0;
    background: #999;
    border: 0;
    border-radius: 7px;
    z-index: 1;
    text-shadow: none; }
  .wpbc-true_false-ui .acf-switch.-on {
    background: #007bff;
    border-color: #007bff; }
    .wpbc-true_false-ui .acf-switch.-on .acf-switch-slider {
      left: inherit;
      right: 7px;
      background: #66b0ff;
      border-color: #66b0ff; }
    .wpbc-true_false-ui .acf-switch.-on .acf-switch-off {
      opacity: 0; }
    .wpbc-true_false-ui .acf-switch.-on .acf-switch-on {
      opacity: 1;
      color: #fff; }
  .wpbc-true_false-ui .acf-switch.disabled {
    cursor: default !important;
    pointer-events: none;
    opacity: .8; }
.wpbc-true_false-ui.w-auto .acf-switch, .wpbc-true_false-ui.w-auto .acf-switch-on, .wpbc-true_false-ui.w-auto .acf-switch-off {
  width: auto !important; }
.wpbc-true_false-ui.w-100 .acf-switch, .wpbc-true_false-ui.w-100 .acf-switch-on, .wpbc-true_false-ui.w-100 .acf-switch-off {
  width: 100% !important; }

.acf-field.wpbc-picker-absolute .wp-picker-active {
  position: absolute; }
.acf-field.wpbc-picker-absolute .wp-picker-container .iris-picker {
  height: 110px !important; }
  .acf-field.wpbc-picker-absolute .wp-picker-container .iris-picker .iris-square {
    height: 85px !important; }
  .acf-field.wpbc-picker-absolute .wp-picker-container .iris-picker .iris-slider {
    height: 114px !important; }

.acf-field.wpbc-ui-mini {
  padding: 9px !important; }
  .acf-field.wpbc-ui-mini .acf-label {
    margin: 0; }
    .acf-field.wpbc-ui-mini .acf-label label {
      margin: 0;
      font-size: 85%; }
  .acf-field.wpbc-ui-mini .acf-input-wrap input[type="text"],
  .acf-field.wpbc-ui-mini .acf-input-wrap input[type="number"] {
    border: 0;
    padding: 3px 0;
    border-bottom: 1px solid #777;
    border-radius: 0;
    line-height: 20px;
    height: 18px;
    min-height: 18px;
    font-size: 14px; }
  .acf-field.wpbc-ui-mini .acf-switch {
    height: 14px;
    width: 40px; }
    .acf-field.wpbc-ui-mini .acf-switch .acf-switch-on,
    .acf-field.wpbc-ui-mini .acf-switch .acf-switch-off {
      line-height: 14px; }
    .acf-field.wpbc-ui-mini .acf-switch .acf-switch-slider {
      top: 3px;
      width: 8px;
      height: 8px; }
  .acf-field.wpbc-ui-mini .acf-color-picker .wp-picker-container .wp-color-result.button {
    margin: 6px 0 0 0;
    min-height: 21px; }
    .acf-field.wpbc-ui-mini .acf-color-picker .wp-picker-container .wp-color-result.button .wp-color-result-text {
      line-height: 19px; }
  .acf-field.wpbc-ui-mini .acf-tab-group li a {
    padding: 2px 5px 3px 5px;
    line-height: 14px;
    font-size: 10px; }
  .acf-field.wpbc-ui-mini.wpbc-radio-as-btn li label {
    font-size: 12px !important;
    line-height: 11px;
    height: 14px;
    min-height: 14px; }
  .acf-field.wpbc-ui-mini.ui-xmini.wpbc-radio-as-btn li label {
    padding: 0 3px !important;
    font-size: 10px !important; }

label.disabled {
  cursor: default !important; }
  label.disabled:hover {
    cursor: default !important; }

.wpbc-true_false-ui.ui-primary .acf-switch.-on {
  background: #007bff;
  border-color: #007bff; }
  .wpbc-true_false-ui.ui-primary .acf-switch.-on .acf-switch-slider {
    background: #66b0ff;
    border-color: #66b0ff; }

.wpbc-text-primary {
  color: #007bff !important; }

.wpbc-button-primary {
  background: #007bff !important;
  border-color: #007bff !important; }

.wpbc-true_false-ui.ui-secondary .acf-switch.-on {
  background: #6c757d;
  border-color: #6c757d; }
  .wpbc-true_false-ui.ui-secondary .acf-switch.-on .acf-switch-slider {
    background: #a1a8ae;
    border-color: #a1a8ae; }

.wpbc-text-secondary {
  color: #6c757d !important; }

.wpbc-button-secondary {
  background: #6c757d !important;
  border-color: #6c757d !important; }

.wpbc-true_false-ui.ui-success .acf-switch.-on {
  background: #28a745;
  border-color: #28a745; }
  .wpbc-true_false-ui.ui-success .acf-switch.-on .acf-switch-slider {
    background: #5dd879;
    border-color: #5dd879; }

.wpbc-text-success {
  color: #28a745 !important; }

.wpbc-button-success {
  background: #28a745 !important;
  border-color: #28a745 !important; }

.wpbc-true_false-ui.ui-info .acf-switch.-on {
  background: #17a2b8;
  border-color: #17a2b8; }
  .wpbc-true_false-ui.ui-info .acf-switch.-on .acf-switch-slider {
    background: #4cd3e9;
    border-color: #4cd3e9; }

.wpbc-text-info {
  color: #17a2b8 !important; }

.wpbc-button-info {
  background: #17a2b8 !important;
  border-color: #17a2b8 !important; }

.wpbc-true_false-ui.ui-warning .acf-switch.-on {
  background: #ffc107;
  border-color: #ffc107; }
  .wpbc-true_false-ui.ui-warning .acf-switch.-on .acf-switch-slider {
    background: #ffdb6d;
    border-color: #ffdb6d; }

.wpbc-text-warning {
  color: #ffc107 !important; }

.wpbc-button-warning {
  background: #ffc107 !important;
  border-color: #ffc107 !important; }

.wpbc-true_false-ui.ui-danger .acf-switch.-on {
  background: #dc3545;
  border-color: #dc3545; }
  .wpbc-true_false-ui.ui-danger .acf-switch.-on .acf-switch-slider {
    background: #eb8c95;
    border-color: #eb8c95; }

.wpbc-text-danger {
  color: #dc3545 !important; }

.wpbc-button-danger {
  background: #dc3545 !important;
  border-color: #dc3545 !important; }

.wpbc-true_false-ui.ui-light .acf-switch.-on {
  background: #f8f9fa;
  border-color: #f8f9fa; }
  .wpbc-true_false-ui.ui-light .acf-switch.-on .acf-switch-slider {
    background: white;
    border-color: white; }

.wpbc-text-light {
  color: #f8f9fa !important; }

.wpbc-button-light {
  background: #f8f9fa !important;
  border-color: #f8f9fa !important; }

.wpbc-true_false-ui.ui-dark .acf-switch.-on {
  background: #343a40;
  border-color: #343a40; }
  .wpbc-true_false-ui.ui-dark .acf-switch.-on .acf-switch-slider {
    background: #626d78;
    border-color: #626d78; }

.wpbc-text-dark {
  color: #343a40 !important; }

.wpbc-button-dark {
  background: #343a40 !important;
  border-color: #343a40 !important; }

.acf-flexible-content .layout .acf-fc-layout-handle {
  background: #191e23;
  color: #fff !important; }

.acf-flexible-content .layout.-collapsed .acf-fc-layout-handle {
  background: #fff;
  color: #333333 !important; }

.acf-flexible-content .acf-actions [data-name="add-layout"] {
  padding: 3px 15px;
  font-size: 16px; }
  .acf-flexible-content .acf-actions [data-name="add-layout"] .dashicons {
    position: relative;
    top: 9px;
    left: -3px; }

#wpfooter {
  display: none !important; }

#adminmenu .toplevel_page_bootclean-theme-options .wp-menu-image img {
  width: 18px;
  height: auto;
  top: -2px;
  position: relative; }

#adminmenu .toplevel_page_bootclean-theme-options.current .wp-menu-image img {
  opacity: 1 !important; }

#adminmenu .toplevel_page_bootclean-theme-options .wp-submenu {
  background-color: #331d03 !important; }

.wpbc-menu-image {
  float: left;
  width: 27px;
  margin: 0 0px 0 -6px;
  text-align: center; }

.wpbc-menu-image svg {
  width: 19px;
  height: auto;
  fill: #fff;
  opacity: .6; }

.current .wpbc-menu-image svg {
  opacity: 1 !important; }

a:hover .wpbc-menu-image svg {
  fill: #e97f02; }

a > .wp-menu-name .hide-top {
  display: none !important; }

.wp-submenu .show-top {
  display: none !important; }

.wpbc_taxonomy_checkbox_horizontal .acf-checkbox-list > li {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px; }

.acf-menu-item-fields {
  float: none !important;
  clear: both;
  display: block;
  padding: 0 .5rem;
  border: 1px solid #eee; }

.acf-input-title .acf-input textarea,
.acf-input-title input[type="text"] {
  font-size: 1.6rem !important;
  border-width: 4px !important; }
.acf-input-title.sm .acf-input textarea,
.acf-input-title.sm input[type="text"] {
  font-size: 1.2rem !important;
  border-width: 2px !important; }

.acf-small-gallery .acf-gallery {
  height: 200px !important; }
.acf-small-gallery .acf-gallery-toolbar ul.acf-hl {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start; }
  .acf-small-gallery .acf-gallery-toolbar ul.acf-hl li {
    float: none; }
.acf-small-gallery .acf-gallery-toolbar .acf-button {
  font-size: 11px;
  line-height: 19px;
  min-height: 22px;
  margin: 0;
  padding: 0 5px; }
.acf-small-gallery .acf-gallery-toolbar .acf-gallery-sort {
  padding: 0px 5px;
  font-size: 12px;
  line-height: 19px;
  min-height: 22px;
  vertical-align: top; }

.acf-small-wysiwyg .wp-editor-area {
  height: 200px !important; }

.acf-xsmall-wysiwyg .wp-editor-area {
  min-height: 80px !important;
  height: 200px !important; }

.acf-group-seamless {
  padding: 0;
  border: 0; }
  .acf-group-seamless .acf-fields.-border {
    border: 0; }
    .acf-group-seamless .acf-fields.-border .acf-field {
      border-top: 0; }

.wpbc-group-no-border .acf-fields.-border,
.acf-group-call-to-action .acf-fields.-border {
  border: 0 !important; }

.wpbc-field-no-label > .acf-label {
  display: none; }

.acf-field.wpbc-field-half-padding {
  padding: 7px 6px !important; }
.acf-field.wpbc-field-no-padding {
  padding: 0 !important; }
.acf-field.wpbc-field-no-padding-bottom {
  padding-bottom: 0 !important; }
.acf-field.wpbc-field-no-padding-top {
  padding-top: 0 !important; }
.acf-field.wpbc-field-no-padding-left {
  padding-left: 0 !important; }
.acf-field.wpbc-field-no-padding-right {
  padding-right: 0 !important; }
.acf-field.wpbc-field-no-border {
  border: 0 !important; }
.acf-field.wpbc-field-no-border-bottom {
  border-bottom: 0 !important; }
.acf-field.wpbc-field-no-border-top {
  border-top: 0 !important; }
.acf-field.wpbc-field-no-border-left {
  border-left: 0 !important; }
.acf-field.wpbc-field-no-border-right {
  border-right: 0 !important; }
.acf-field.wpbc-field-no-border-fields .acf-fields {
  border: 0 !important; }
  .acf-field.wpbc-field-no-border-fields .acf-fields > .acf-field {
    border: 0 !important; }

/*
	Replicate on front-end
	shortcode available like:
	
	[m-icon-svg icon="md-flag"]

*/
.m-icon-svg {
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center center;
  width: 24px;
  height: 24px;
  display: inline-block; }

.acf-tab-button svg {
  vertical-align: -6px; }
.acf-tab-button .m-icon-svg {
  vertical-align: -6px;
  margin-right: 5px; }

.acf-label label svg {
  vertical-align: -6px; }

.wpbc-group_title {
  border-bottom: 1px solid #ddd; }
  .wpbc-group_title .acf-label label svg {
    width: 45px;
    vertical-align: -10px;
    height: auto; }
  .wpbc-group_title .acf-label label .icon {
    vertical-align: -10px;
    width: 32px; }
  .wpbc-group_title .acf-input p {
    font-size: 16px; }

.acf-label .description svg {
  vertical-align: -5px; }

#wpbc_dashboard_welcome_widget .postbox-header h2 {
  display: inline-block; }

.wpbc-dashboard-title {
  font-size: 18px !important;
  line-height: 1.2em !important;
  font-weight: 400 !important;
  display: block; }

.wpbc-dashboard-list li {
  color: #444;
  border-top: 1px solid #ececec;
  padding: 9px 12px 9px 0;
  margin: 0; }

.wpbc-btn-small {
  border-color: #007bff !important;
  background-color: #007bff !important;
  color: #fff !important;
  padding: 2px 4px 2px 5px !important;
  font-size: 10px !important;
  line-height: 12px !important;
  text-transform: uppercase;
  letter-spacing: 1px;
  min-height: auto !important; }

.acf-field.wpbc-hidden-field {
  display: none !important; }

.wpbc-hidden-input .acf-input {
  display: none !important; }

.acf-fields > .acf-tab-wrap .acf-tab-group li a svg {
  width: 20px; }

.wpbc-tab-small .acf-fields > .acf-tab-wrap {
  background-color: transparent; }
.wpbc-tab-small .acf-tab-group li {
  margin: 0 -1px 0 0; }
  .wpbc-tab-small .acf-tab-group li a {
    padding: 5px 5px !important;
    font-size: 10px;
    line-height: 10px; }

.wpbc-subtitle {
  border-bottom: 0;
  padding-bottom: 8px !important; }
  .wpbc-subtitle .acf-label {
    margin-bottom: 0; }
    .wpbc-subtitle .acf-label label h4 {
      font-size: 1.2rem;
      margin: 0 !important; }

.wpbc-template-section-group {
  padding: 0 !important;
  border: 0 !important;
  margin: 0 -1px !important; }
  .wpbc-template-section-group > .acf-label {
    display: none !important;
    background: #007bff;
    color: #fff;
    padding: 6px 8px 4px 8px;
    margin: 0 0 0 13px !important; }

.acf-inverted-gallery .acf-gallery-attachments {
  background-color: #000 !important; }
  .acf-inverted-gallery .acf-gallery-attachments .margin {
    background: transparent !important; }

.wpbc-radio-as-btn li {
  margin: 0 !important; }
  .wpbc-radio-as-btn li [type="checkbox"],
  .wpbc-radio-as-btn li [type="radio"] {
    position: absolute;
    left: -100vw; }
  .wpbc-radio-as-btn li label {
    display: inline-block !important;
    background-color: #adb5bd;
    border-color: #adb5bd;
    color: #fff;
    font-size: 13px !important;
    line-height: 2.15384615;
    min-height: 30px;
    margin: 0 !important;
    padding: 0 10px !important;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    border-radius: 0;
    white-space: nowrap;
    box-sizing: border-box; }
    .wpbc-radio-as-btn li label:hover {
      background-color: #212529; }
    .wpbc-radio-as-btn li label.selected {
      background-color: #007bff;
      border-color: #007bff; }
  .wpbc-radio-as-btn li:first-child label {
    border-radius: 3px 0 0 3px; }
  .wpbc-radio-as-btn li:last-child label {
    border-radius: 0 3px 3px 0; }
.wpbc-radio-as-btn.show-radio li [type="checkbox"],
.wpbc-radio-as-btn.show-radio li [type="radio"] {
  position: relative;
  left: 0 !important;
  margin: -3px 7px 0px -5px; }
.wpbc-radio-as-btn.as-btn-secondary li label.selected {
  background-color: #343a40;
  border-color: #343a40; }
.wpbc-radio-as-btn.as-btn-primary li label.selected {
  background-color: #007bff;
  border-color: #007bff; }
.wpbc-radio-as-btn.as-btn-danger li label.selected {
  background-color: #dc3545;
  border-color: #dc3545; }
.wpbc-radio-as-btn.as-btn-lg li label {
  font-size: 15px !important;
  line-height: 2.153846;
  min-height: 34px;
  padding: 0 13px !important;
  text-transform: uppercase; }
.wpbc-radio-as-btn.as-btn-sm li label {
  font-size: 10px !important;
  line-height: 2.153846;
  min-height: 20px;
  padding: 0 5px !important;
  text-transform: uppercase; }
  .wpbc-radio-as-btn.as-btn-sm li label svg {
    width: 14px;
    height: 14px; }
.wpbc-radio-as-btn.no-padding-radio-label li label {
  padding: 2px !important;
  min-height: auto;
  line-height: 1;
  background-color: transparent !important;
  border-color: transparent !important; }
  .wpbc-radio-as-btn.no-padding-radio-label li label.selected {
    background-color: #007bff !important;
    border-color: #007bff !important; }

.wpbc-tabsless-group .acf-tab-wrap {
  background: transparent !important; }
.wpbc-tabsless-group .acf-tab-group {
  border-top: 0 !important;
  background: transparent !important;
  padding: 0; }
  .wpbc-tabsless-group .acf-tab-group li {
    margin: 0; }
    .wpbc-tabsless-group .acf-tab-group li a {
      border: 0 !important; }

.acf-tooltip [data-layout] .icon-badge {
  width: 16px;
  display: inline-block;
  vertical-align: -3px; }
  .acf-tooltip [data-layout] .icon-badge svg {
    width: 100%;
    height: auto; }

.acf-flexible-content .layout .acf-fc-layout-handle .wpbc-badge.bg-transparent {
  background-color: #fff !important;
  background-image: linear-gradient(45deg, #b0b0b0 25%, transparent 25%), linear-gradient(-45deg, #b0b0b0 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #b0b0b0 75%), linear-gradient(-45deg, transparent 75%, #b0b0b0 75%);
  background-size: 12px 12px;
  background-position: 0 0, 0 6px, 6px -6px, -6px 0px; }

.acf-flexible-content .layout .acf-fc-layout-handle .icon-badge {
  width: 15px;
  display: inline-block;
  vertical-align: -1px; }
  .acf-flexible-content .layout .acf-fc-layout-handle .icon-badge svg {
    width: 100%;
    height: auto; }

.select_choices-badge {
  width: 30px;
  height: 15px;
  display: inline-block;
  vertical-align: -2px;
  border-radius: 2px; }

.wpbc-acf-repeater-index-top .acf-row .acf-row-handle.order {
  vertical-align: top !important;
  padding-top: 17px;
  font-size: 18px;
  font-weight: bold;
  text-shadow: none;
  color: #000; }

.wpbc-acf-highlighted-field {
  background-color: rgba(0, 123, 255, 0.2); }
  .wpbc-acf-highlighted-field.wpbc-tabsless-group .acf-tab-group {
    background-color: rgba(0, 123, 255, 0.2) !important; }
  .wpbc-acf-highlighted-field.secondary {
    background-color: rgba(138, 155, 15, 0.2); }
    .wpbc-acf-highlighted-field.secondary.wpbc-tabsless-group .acf-tab-group {
      background-color: rgba(138, 155, 15, 0.2) !important; }
  .wpbc-acf-highlighted-field.danger {
    background-color: rgba(220, 53, 69, 0.2); }
    .wpbc-acf-highlighted-field.danger.wpbc-tabsless-group .acf-tab-group {
      background-color: rgba(220, 53, 69, 0.2) !important; }
  .wpbc-acf-highlighted-field.dark {
    background-color: #343a40;
    color: #fff; }
    .wpbc-acf-highlighted-field.dark.wpbc-tabsless-group {
      color: #fff; }
      .wpbc-acf-highlighted-field.dark.wpbc-tabsless-group .acf-tab-group {
        color: #fff;
        background-color: #343a40 !important; }
  .wpbc-acf-highlighted-field.info-light {
    background-color: rgba(23, 162, 184, 0.2); }
    .wpbc-acf-highlighted-field.info-light.wpbc-tabsless-group .acf-tab-group {
      background-color: rgba(23, 162, 184, 0.2) !important; }
  .wpbc-acf-highlighted-field.info {
    background-color: #17a2b8; }
    .wpbc-acf-highlighted-field.info.wpbc-tabsless-group .acf-tab-group {
      background-color: #17a2b8 !important; }

.wpbc-acf-flex-field {
  display: flex; }
  .wpbc-acf-flex-field .acf-label {
    margin: 0 !important;
    padding: 4px 9px !important; }
  .wpbc-acf-flex-field.right-label .acf-label {
    order: 2; }

.wpbc-group-flex > .acf-input > .acf-fields {
  display: flex; }

.wpbc-picker-no-label .wp-color-result-text {
  display: none; }
.wpbc-picker-no-label button.wp-color-result {
  padding: 0 0 0 20px !important;
  margin: 8px 0 0 0 !important;
  min-height: 17px !important; }

.wpbc-field-padding-less .acf-table > tbody > tr > th, .wpbc-field-padding-less .acf-table > tbody > tr > td, .wpbc-field-padding-less .acf-table > thead > tr > th, .wpbc-field-padding-less .acf-table > thead > tr > td {
  padding: 1px 2px !important; }

/*

	wpbc_site_settings

*/
body.wpbc_site_settings .acf-postbox.seamless {
  padding: 0 !important; }
  body.wpbc_site_settings .acf-postbox.seamless > .inside {
    margin-right: 0 !important; }
    body.wpbc_site_settings .acf-postbox.seamless > .inside > .acf-tab-wrap .acf-tab-group {
      border: 0 !important;
      padding-bottom: 1px !important; }
      body.wpbc_site_settings .acf-postbox.seamless > .inside > .acf-tab-wrap .acf-tab-group li a {
        border: 0 !important;
        background-color: #ffffff;
        padding: 16px; }
  body.wpbc_site_settings .acf-postbox.seamless > .acf-fields > .acf-field {
    padding: 15px; }
  body.wpbc_site_settings .acf-postbox.seamless > .acf-fields > .acf-tab-wrap {
    margin: 0 !important; }

/*

	wpbc-section-title

*/
.acf-field-group.wpbc-section-title-settings {
  border: 0 !important; }
  .acf-field-group.wpbc-section-title-settings > .acf-input > .acf-fields {
    background-color: #f5f5f5;
    padding: 3px;
    border: 1px solid #ccd0d4; }

.wpbc-section-title-settings {
  margin-top: 5px !important; }
  .wpbc-section-title-settings .acf-tab-wrap {
    margin-bottom: 10px; }
  .wpbc-section-title-settings .acf-fields > .acf-field {
    padding: 0 5px 0 0 !important;
    width: auto !important;
    min-height: 27px; }
    .wpbc-section-title-settings .acf-fields > .acf-field .wpbc-true_false-ui {
      padding: 0 !important; }
    .wpbc-section-title-settings .acf-fields > .acf-field .acf-input [type="button"] {
      min-height: 26px;
      padding: 0 3px;
      line-height: 1; }
    .wpbc-section-title-settings .acf-fields > .acf-field .acf-input [type="text"] {
      min-height: 26px;
      padding: 0 3px;
      font-size: 12px;
      line-height: 1;
      text-align: center; }
    .wpbc-section-title-settings .acf-fields > .acf-field .acf-input select {
      min-height: 26px;
      min-width: 110px;
      padding: 3px;
      font-size: 12px; }
    .wpbc-section-title-settings .acf-fields > .acf-field .acf-input .wp-color-result {
      margin: 3px 0 !important;
      min-height: 21px !important;
      min-width: 24px; }
    .wpbc-section-title-settings .acf-fields > .acf-field .acf-input .wp-picker-input-wrap {
      margin-left: 5px; }
    .wpbc-section-title-settings .acf-fields > .acf-field.wpbc-section-heading-use {
      padding: 0px 3px 6px 0 !important; }

.wpbc-section-title {
  margin-top: 0 !important; }
  .wpbc-section-title textarea {
    border-radius: 0; }

/*# sourceMappingURL=wp-admin.css.map */
