
$primary: #e97f02; 
$primary-dark: #331d03;
$secondary: #8A9B0F ; 
$gray-100: #dcdcdc;
$gray-200: #eee;
$gray-300: #ddd;
$gray-700: #777; 

.wpbc-badge{
	display: inline-block;
	background-color: $primary;
	color:#fff;
	padding:3px 5px;
	font-size: 10px;
	text-transform: uppercase;
	&.secondary{
		background-color: $secondary;
	}
}
.acf-accordion{
	.wpbc-badge{
		background-color: $gray-700;
	}
	&.-open{
		.wpbc-badge{
			background-color: $primary;
		}
	}
}

.wpbc-acf-accordion-layout{
	.acf-accordion-title{
		> p.description{
			padding-top: 9px;
			font-style: normal;
			font-weight: bold;
		}
		> label {
			display: flex!important;
			> img.icon{
				margin-left:auto;
			}
		}
		img.icon{ 
			vertical-align: -7px;
			border: 1px solid $gray-300;
			padding: 1px;
		}
	}

	

	&.-open{
		border-left: 6px solid $primary!important;
		margin-left: 1px;
	}
}
.wpbc-acf-group-no-border{
	.acf-fields{
		border: 0!important;
		.acf-field{
			padding:0 0 5px 0;
		}
	}
}
.wpbc-acf-no-label{
	> .acf-label{
		display: none!important;
	}
	&.acf-field-message{
		.acf-input{
			p{
				margin: 0;
			}
		}
	}
}

.radio-as-thumb label img,
.radio-with-thumb label img{
	filter: gray; /* IE6-9 */
	-webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
	filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}
.radio-as-thumb label:hover img,
.radio-with-thumb label:hover img{
	opacity:.8;
	-webkit-filter: grayscale(0.5);
	filter: grayscale(0.5);
}
.radio-as-thumb label.selected img ,
.radio-with-thumb label.selected img { 
	-webkit-filter: grayscale(0);
	filter: none;
}

.radio-as-thumb .radio-as-thumb-img-label{
	position: absolute;
	z-index: 1;
	font-size: 9px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	justify-content: center;
	display: flex;
	align-items: center;
	cursor: pointer;
	i{
		font-style: normal;
		background-color:rgba(255,255,255,.6);
		padding:2px;
		display: inline-block;
		    line-height: 9px;
	}
}

.radio-with-thumb{
	position: relative;
	.acf-radio-list{

		display: flex;
		flex-flow: row;
		flex-wrap: wrap;
		li{
			display: flex;
		    flex-flow: row;
		    align-items: flex-start;
		    //flex:20% 0 0;
		    margin:0!important;
		    label{
 
 				margin-right:5px;

		    	input[type="radio"]{ 
					position:relative; 
					top:-4px;
				}


		    }
		}

	}

}
.radio-as-thumb{
	.of-input-flex{

		flex-wrap: wrap;

		.flex-item{
			align-items: flex-start;
			flex:20% 0 0;
			margin:0!important;
		}
	} 
	.wpbc-input-as-thumb {

		label{

			float: none;
		    max-width: inherit;
		    line-height: inherit;
		    margin-bottom: 0;

		}

	}

	.acf-radio-list{

		display: flex;
		flex-flow: row;
		flex-wrap: wrap;
		li{
			display: flex;
		    flex-flow: row;
		    align-items: flex-start;
		    //flex:20% 0 0;
		    margin:0!important;
		    label{



		    }
		}

	}


	.wpbc-input-as-thumb,
	.acf-radio-list{

		label{
			align-items: flex-start;
			display: flex;
			flex-flow: column;
			position:relative; 
			border:3px solid transparent;
			padding:0;
			margin-right:5px;
			input[type="radio"]{ 
				position:absolute;
				visibility:hidden;
			}
			input{
				width: 16px!important;
				&:checked + .wpbc-input-as-thumb--icon{
					border-color:$primary;
				}
				&:checked {
					
				}
			}
			&.selected{
				border-color:$primary;
			}
		}
		input:checked + img{
			border-color:$primary;
		}
 		label + input:checked {
 			border-color:$primary;
 		}

		.wpbc-input-as-thumb--name{
 			margin:5px 0;
		}

		.wpbc-input-as-thumb--icon{
			display:inline-block; 
  			border:2px solid transparent;
  			img{
  				display:block; 
  			}
		}
 
		.wpbc-input-as-thumb--description{
 			font-size:10px;
 			line-height:13px;
		}

	}


} 
   
.radio-as-thumb{

	.radio-as-thumb-svg{
		padding: 10px 8px 5px 8px;
		svg{
			width: 38px;
			height: auto;
		}
	}

} 