body.wpbc_theme_settings .acf-postbox.seamless {
  padding: 0 1.2rem;
  border: 1px solid #ccd0d4 !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04) !important;
  background-color: #fff !important; }

.wpbc-badge {
  display: inline-block;
  background-color: #e97f02;
  color: #fff;
  padding: 3px 5px;
  font-size: 10px;
  text-transform: uppercase; }

.acf-accordion .wpbc-badge {
  background-color: #777; }
.acf-accordion.-open .wpbc-badge {
  background-color: #e97f02; }

.wpbc-acf-accordion-layout .acf-accordion-title > p.description {
  padding-top: 9px;
  font-style: normal;
  font-weight: bold; }
.wpbc-acf-accordion-layout .acf-accordion-title > label {
  display: flex !important; }
  .wpbc-acf-accordion-layout .acf-accordion-title > label > img.icon {
    margin-left: auto; }
.wpbc-acf-accordion-layout .acf-accordion-title img.icon {
  vertical-align: -7px;
  border: 1px solid #ddd;
  padding: 1px; }
.wpbc-acf-accordion-layout.-open {
  border-left: 6px solid #e97f02 !important;
  margin-left: 1px; }

.wpbc-acf-group-no-border .acf-fields {
  border: 0 !important; }
  .wpbc-acf-group-no-border .acf-fields .acf-field {
    padding: 0 0 5px 0; }

.wpbc-acf-no-label > .acf-label {
  display: none !important; }
.wpbc-acf-no-label.acf-field-message .acf-input p {
  margin: 0; }

.radio-as-thumb label img,
.radio-with-thumb label img {
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(1);
  /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1);
  /* Microsoft Edge and Firefox 35+ */ }

.radio-as-thumb label:hover img,
.radio-with-thumb label:hover img {
  opacity: .8;
  -webkit-filter: grayscale(0.5);
  filter: grayscale(0.5); }

.radio-as-thumb label.selected img,
.radio-with-thumb label.selected img {
  -webkit-filter: grayscale(0);
  filter: none; }

.radio-as-thumb .radio-as-thumb-img-label {
  position: absolute;
  z-index: 1;
  font-size: 9px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  display: flex;
  align-items: center;
  cursor: pointer; }
  .radio-as-thumb .radio-as-thumb-img-label i {
    font-style: normal;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 2px;
    display: inline-block;
    line-height: 9px; }

.radio-with-thumb {
  position: relative; }
  .radio-with-thumb .acf-radio-list {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap; }
    .radio-with-thumb .acf-radio-list li {
      display: flex;
      flex-flow: row;
      align-items: flex-start;
      margin: 0 !important; }
      .radio-with-thumb .acf-radio-list li label {
        margin-right: 5px; }
        .radio-with-thumb .acf-radio-list li label input[type="radio"] {
          position: relative;
          top: -4px; }

.radio-as-thumb .of-input-flex {
  flex-wrap: wrap; }
  .radio-as-thumb .of-input-flex .flex-item {
    align-items: flex-start;
    flex: 20% 0 0;
    margin: 0 !important; }
.radio-as-thumb .wpbc-input-as-thumb label {
  float: none;
  max-width: inherit;
  line-height: inherit;
  margin-bottom: 0; }
.radio-as-thumb .acf-radio-list {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap; }
  .radio-as-thumb .acf-radio-list li {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    margin: 0 !important; }
.radio-as-thumb .wpbc-input-as-thumb label,
.radio-as-thumb .acf-radio-list label {
  align-items: flex-start;
  display: flex;
  flex-flow: column;
  position: relative;
  border: 3px solid transparent;
  padding: 0;
  margin-right: 5px; }
  .radio-as-thumb .wpbc-input-as-thumb label input[type="radio"],
  .radio-as-thumb .acf-radio-list label input[type="radio"] {
    position: absolute;
    visibility: hidden; }
  .radio-as-thumb .wpbc-input-as-thumb label input,
  .radio-as-thumb .acf-radio-list label input {
    width: 16px !important; }
    .radio-as-thumb .wpbc-input-as-thumb label input:checked + .wpbc-input-as-thumb--icon,
    .radio-as-thumb .acf-radio-list label input:checked + .wpbc-input-as-thumb--icon {
      border-color: #e97f02; }
  .radio-as-thumb .wpbc-input-as-thumb label.selected,
  .radio-as-thumb .acf-radio-list label.selected {
    border-color: #e97f02; }
.radio-as-thumb .wpbc-input-as-thumb input:checked + img,
.radio-as-thumb .acf-radio-list input:checked + img {
  border-color: #e97f02; }
.radio-as-thumb .wpbc-input-as-thumb label + input:checked,
.radio-as-thumb .acf-radio-list label + input:checked {
  border-color: #e97f02; }
.radio-as-thumb .wpbc-input-as-thumb .wpbc-input-as-thumb--name,
.radio-as-thumb .acf-radio-list .wpbc-input-as-thumb--name {
  margin: 5px 0; }
.radio-as-thumb .wpbc-input-as-thumb .wpbc-input-as-thumb--icon,
.radio-as-thumb .acf-radio-list .wpbc-input-as-thumb--icon {
  display: inline-block;
  border: 2px solid transparent; }
  .radio-as-thumb .wpbc-input-as-thumb .wpbc-input-as-thumb--icon img,
  .radio-as-thumb .acf-radio-list .wpbc-input-as-thumb--icon img {
    display: block; }
.radio-as-thumb .wpbc-input-as-thumb .wpbc-input-as-thumb--description,
.radio-as-thumb .acf-radio-list .wpbc-input-as-thumb--description {
  font-size: 10px;
  line-height: 13px; }

/*# sourceMappingURL=wpbc-options.css.map */
